*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
/*START NAVICATION SECTION*/
.main{
    width: 100%;
    background:black;
   overflow: hidden;
    border-bottom: 3px solid blue;
}
.logo{
    float: left;
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu{
    width: 400px;
    float: left;
 
}
.listm{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listm li{
    list-style-type: none;
    margin-left:100px;
    margin-top: 27px;
    font-size: 14px;

}
.listm li a{
    text-decoration:none;
    color: white;
    font-family: arial black;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
.listm li a:hover{
    color: orange;
}
.search{
    width: 350px;
    float: left; 
    margin-left: 500px;
}
.src{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: #fff;
    font-size: 16px;
    float:left;
    padding: 10px;
}
.btn{
    font-family: arial black;
    width:100px;
    height: 40px;
    float: left;
    background: orange;
    border: 2px solid orange;
    margin-top:13px;
}
.btn:hover{
    color:blue
}
.total-img img{
    width: 100%;
    height: 500px;
    margin-top: 5px;
    
}
.total-img{
    position: relative;

}
.img1{
    position:absolute;
    width:100%;
    opacity: 0;
    transition: all 1s;
}
.total-img .img1.active{
    opacity: 1;
}
/*END NAVICATION SECTION*/
/*END BODY SECTION*/
body{
    background: #55ffe5;
    font-size: 14px

}
.container{
    width: 80%;
    margin: 50px auto;
    display: block;

}
.contact-box{
    background: #fff;
    display: flex;
    
}
.contact-lft{
    flex-basis: 60%;
    padding: 40px 60px;

}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #1c00b5;
    color: #fff;
}
h1{
    margin-bottom: 10px;
    text-align: center;

}
.container p{
    margin-bottom: 40px;
    text-align: center;

}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.input-row .input-group{
    flex-basis: 45%;

}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;

}textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}
.bbtn{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3) ;
}
.bbtn:hover{
    background: #f28f92;
    transition: 1s ease
}
.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;

}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
    
}
tr td:first-child{
    padding: 20px;

}
tr td{
    padding-top: 5px;
}
/*END BODY SECTION*/
/*START FOOTER SECTION*/
footer{
    margin-top: 50px;
    background: #071d21;
    padding: 30px 20px;
    color: #f1f1f1;
    font-family: arial;
    padding-bottom: 50px;
}
footer h2{
    font-family: arial black;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding:10px ;

}
.footer-block{
    width: 225px;
    display: inline-block;
 padding: 0px 40px;
 overflow: hidden;
 margin-left:50px ;
 margin-right: 100px

}
.footer-block .social{
    width: 100%;
    clear: both;
    text-align: center;
    display: inline-block;
    margin-top: 25px;
}
.footer-block .social i{
    color: #fff;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    line-height: 45px;
    text-align: center;
    background-color: #f28f92;

}
.footer-block .social i:hover{
    color: #fff;
    background-color: #88941e;
    transition: 1s ease;
    transform: rotate(360deg);
}
.subscribe{
    width: 100%;
  
 
}
.p{
    width: 100%;
}
.baton{
    width: 100%;
    margin-top: 10px;
    color: blue;
    background: orange;
    border: 1px solid orange;
    font-family: arial black;
}
/*END FOOTER SECTION*/